/* ==================================
 * Cerebro v1.0.0 
 * http://cerebromusic.com/docs
 * Copyright 2015 Cerebro Music
 * info@cerebromusic.com
 * ================================== 
 
TABLE OF CONTENTS:
BASE STYLES
BUTTONS 
CLOCK
COLORS
FONTS 
FORMS
GRADIENTS
LAYOUTS
MENUS
PRICE TABLES
VIDEO
==================================== */
/* =================================
  SITE LOADER 
==================================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}

/* =================================
	BASE STYLES
==================================== */
body {
  font-family: 'Roboto', helvetica, sans-serif;
}

h1, h2 {
  margin-top: 0;
  line-height: 100%;
}

h2 {
  font-weight: 300;
  margin-bottom: 1em;
}

a:focus {
  outline: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.75;
}

.title {
  margin-bottom: 16px;
  font-size: 7em;
}

.description {
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 2em;
  font-weight: 300;
}

.opaque {
  opacity: .85;
}

.transparent,
.dark-theme.transparent,
.light-theme.transparent {
  background-color: transparent;
}

.dark-theme {
  /*background-color: #171717;*/
  background-color: #1F1F1F;
  color: #fff;
}

.dark-theme .scroll-down a {
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.light-theme h2 {
  /*color: #303030;*/
}

.light-theme .scroll-down a {
  color: #303030;
}

.scroll-down {
  position: absolute;
  bottom: 2em;
  text-align: center;
  width: 100%;
}

.section {
  text-align: center;
  padding: 6em 0;
  position: relative;
  border-bottom: 1px solid #E9E9E9;
}

.section.dark-theme {
  border-bottom: none;
}

.feature {
  margin: 2em 0;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  opacity: .35;
  z-index: 0;
}

.copyright,
.copyright:visited,
.copyright:hover,
.copyright:active {
  color: inherit;
}

.copyright:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5em;
  }

  .description {
    font-size: 1.125em;
  }

  .section {
    padding: 4em 0;
  }

  .subsection {
    margin-bottom: 2em;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
}
@media (min-width: 1680px) {
  h1 {
    font-size: 7em;
  }

  h2 {
    font-size: 2.5em;
  }

  .description {
    font-size: 2.5em;
  }
}
/* =================================
   BUTTONS
==================================== */
.button {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  transition: all .3s;
}

.button-default {
  font-size: 1em;
  letter-spacing: 2px;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
  border-radius: 2px;
  margin: .25em;
}

.button-pill {
  border-radius: 3em;
}

.button-circle {
  font-size: 2em;
  width: 3em;
  height: 3em;
  line-height: 3em;
  border-radius: 100%;
}

.button-social {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 1.875em;
  /*subtract the height of border*/
  border-radius: 100%;
  transition: all .3s;
}

.social-list {
  padding: 0;
  margin-top: 1em;
  list-style-type: none;
}

.social-list li {
  display: inline-block;
  margin: 0 .5em;
  vertical-align: middle;
}

.dark-theme .social-list a {
  color: #fff;
}

.light-theme .social-list a {
  color: #0c0c0c;
}

.menu-vertical .social-list li {
  display: inline-block;
}

.button-sm {
  padding: .6em 1.5em;
}

.button-lg {
  min-width: 10em;
  font-size: 1.3em;
}

.button .fa {
  line-height: inherit;
}

.fa-play-circle {
  font-size: 8em;
}

/* FILLED */
.button-dark {
  background-color: #0c0c0c;
  border: 2px solid #0c0c0c;
  color: #fff;
}

.button-blue {
  color: #fff;
  background-color: #228DFF;
  border: 2px solid #228DFF;
}

.button-dark:visited,
.button-dark:hover,
.button-dark:active,
.button-blue:focus,
.button-blue:visited,
.button-blue:hover,
.button-blue:active {
  color: #fff;
}

.button-light {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}

.button-light:visited,
.button-light:hover,
.button-light:active {
  color: #000;
}

.button-light:hover,
.button-dark:hover,
.button-blue:hover {
  opacity: .85;
}

/* OUTLINE */
.button-dark-o,
.button-dark-o:visited,
.button-dark-o:active {
  border: 2px solid #0c0c0c;
  color: #000;
}

.button-dark-o:hover {
  background: #0c0c0c;
  color: #fff !important;
}

.button-blue-o,
.button-blue-o:visited,
.button-blue-o:active {
  border: 1px solid #228DFF;
  color: #0072ff;
}

.button-blue-o:hover {
  color: #fff !important;
  background-color: #228DFF;
}

.button-light-o,
.button-light-o:visited,
.button-light-o:active {
  border: 1px solid #fff;
  color: #fff;
}

.button-light-o:hover {
  background: #fff;
  color: #0c0c0c !important;
}

@media (max-width: 480px) {
  .button-default {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .button-lg, .button-sm {
    display: inline-block;
  }
}
/* =================================
	CLOCK
==================================== */
.clock {
  margin-bottom: 2em;
  padding: 0;
  font-weight: 300;
}

.clock span {
  display: block;
  width: 100%;
}

.clock-block {
  display: inline-block;
  margin: 0 2.5%;
}

.clock-number {
  font-size: 6em;
  line-height: 100%;
}

.clock-sm .clock-number {
  font-size: 4em;
}

.clock-lg .clock-number {
  font-size: 8em;
}

.clock-text {
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;
}

.clock-sm .clock-text {
  font-size: 1em;
}

.clock-lg .clock-text {
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .clock-number,
  .clock-sm .clock-number,
  .clock-lg .clock-number {
    font-size: 3em;
  }

  .clock-text,
  .clock-sm .clock-text,
  .clock-lg .clock-text {
    font-size: .75em;
  }
}
/* =================================
	COLORS
==================================== */
.black-bg {
  background-color: #000;
}

.gray-darker-bg {
  background-color: #1F1F1F;
}

.gray-dark-bg {
  background-color: #262728;
}

.gray-bg {
  background-color: #4C4D4F;
}

.gray-light-bg {
  background-color: #6A6A6A;
}

.gray-lighter-bg {
  background-color: #dee1e5;
}

.light-bg {
  background-color: #E9E9E9;
}

.lighter-bg {
  background-color: #F6F6F6;
}

.white-bg {
  background-color: #fff;
}

/* =================================
   FONTS
==================================== */
.open-sans {
  font-family: 'Open Sans', helvetica, sans-serif;
}

.roboto {
  font-family: 'Roboto', helvetica, sans-serif;
}

.lato {
  font-family: 'Lato', helvetica, sans-serif;
}

.montserrat {
  font-family: 'Montserrat', helvetica, sans-serif;
}

/* FONT WEIGHTS */
.normal {
  font-weight: 400;
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

/* =================================
  CONTACT FORM
==================================== */
.form input[type="text"],
.form textarea {
  width: 100%;
  padding: .7em;
  border-radius: 2px;
  border: 1px solid #CCC;
}

.form textarea {
  resize: none;
}

.form {
  margin: 2em auto;
  max-width: 450px;
  display: inline-block;
}

.form label {
  font-weight: 300;
}

.form-header {
  margin-bottom: 2em;
}

.form-title {
  font-weight: 300;
  font-size: 1.5em;
  display: inline;
  line-height: inherit;
}

.form-section {
  margin-bottom: 1em;
  padding-left: 8px;
  padding-right: 8px;
}

.form-loader {
  display: none;
  text-align: center;
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .5;
  z-index: 1099;
  height: 100%;
  width: 100%;
}

.form-spinner {
  position: absolute;
  top: 40%;
  font-size: 42px;
  margin-left: -21px;
  z-index: 1100;
  color: #fff;
}

.form-results {
  margin-bottom: 0;
  clear: both;
  display: none;
}

.form-results.error {
  color: #E31837;
}

.form-results.success {
  color: green;
}

.dark-theme .form-section input[type="text"],
.dark-theme .form-section textarea {
  background-color: transparent;
  border-color: #fff;
}

.contact .modal-dialog {
  max-width: 450px;
}

.contact .modal-content {
  border: 0;
  border-radius: 0;
  padding: 2em 1em;
}

.contact .modal-close {
  line-height: inherit;
}

.contact .button {
  margin-bottom: 0;
}

.modal-close {
  cursor: pointer;
}

/* =================================
    GRADIENTS
==================================== */
.pink-gradient {
  background: linear-gradient(90deg, #DD5E89 10%, #F7BB97 90%);
}

.rose-gradient {
  background: linear-gradient(90deg, #E55D87 10%, #5FC3E4 90%);
}

.electric-gradient {
  background: linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);
}

.blue-gradient {
  background: linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
}

.ash-gradient {
  background: linear-gradient(90deg, #161818 10%, #2A2B2C 90%);
}

.cloud-gradient {
  background: linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%);
}

/* =================================
  LAYOUTS
==================================== */
.bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.hero-bg {
  overflow: hidden;
  min-height: 100%;
  /* makes full screen for mobile*/
}

.hero-wrapper {
  position: absolute;
  /*adds scrollbar*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* PAGE HEADER */
.page-header {
  padding: 12em 0;
  margin: 0;
  border-bottom: none;
  position: relative;
}

@media (max-width: 768px) {
  .page-header {
    padding: 8em 0;
  }
}
/* =================================
	MENUS
==================================== */
/* INNER POSITIONING FOR
HORIZONTAL NAV */
.nav-left {
  position: absolute;
  left: 1em;
  top: 0;
}

.nav-right {
  position: absolute;
  right: 1em;
  top: 0;
}

.nav-bottom {
  position: absolute;
  bottom: 0;
}

/* so we can position nav 
elements absolutely */
.menu-horizontal .container,
.menu-horizontal .container-fluid {
  position: relative;
}

/* LINK STYLES */
.menu-logo {
  font-size: 2em;
}

.menu-top.light-theme {
 /* border-bottom: 1px solid #E9E9E9;*/
}

.menu-bottom.light-theme {
  border-top: 1px solid #E9E9E9;
}

.light-theme .menu-logo,
.menu .menu-mobile.light-theme li a,
.menu.light-theme li a,
.footer.light-theme li a {
  /*color: #4c4d4f;*/
  color: #000;
}

.dark-theme .menu-logo,
.menu .menu-mobile.dark-theme li a,
.menu.dark-theme li a,
.footer.dark-theme li a {
  color: #fff;
}

.menu ul li,
.footer ul li {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu ul,
.footer ul {
  padding: 0;
  list-style-type: none;
}

.footer ul {
  margin-bottom: 1em;
}

.footer a,
.menu a {
  text-decoration: none;
}

.menu-horizontal a {
  display: inline-block;
}

.menu-horizontal ul li,
.footer ul li {
  display: inline-block;
  margin: 0 1em;
  vertical-align: middle;
}

.menu-vertical a,
.menu-vertical ul li,
.menu-horizontal .menu-mobile li,
.menu-mobile ul,
.menu-mobile a {
  display: block;
}

.menu-vertical a {
  padding: .5em 0;
}

/* LAYOUTS */
.menu {
  z-index: 9;
  position: absolute;
}

.menu.affix {
  position: fixed;
}

.menu-mobile {
  display: none;
  padding: 1em .5em;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.footer {
  padding: 4em 0;
  text-align: center;
}

.menu-horizontal {
  text-align: center;
  width: 100%;
  height: 6em;
  line-height: 6em;
  left: 0;
}

.menu-thin {
  height: 4em;
  line-height: 4em;
}

.menu-top {
  top: 0;
}

.menu-bottom {
  bottom: 0;
}

.menu-bottom section {
  margin: 1em 0;
}

.menu-vertical {
  position: fixed;
  width: 260px;
  top: 0;
  height: 100%;
  padding: 1em;
  z-index: 10;
}

/* STATES */
.menu-left {
  left: 0;
}

.menu-left-closed {
  left: -260px;
}

.menu-right {
  right: 0;
}

.menu-right-closed {
  right: -260px;
}

.menu-push-to-right {
  left: 260px;
}

.menu-push-to-left {
  left: -260px;
}

.menu .fa-navicon,
.menu .fa-close {
  cursor: pointer;
  font-size: 1.75em;
}

.menu .fa-navicon {
  line-height: inherit;
}

.menu .toggle-text {
  line-height: inherit;
  display: inline-block;
  margin: 0 1em;
}

/* TRANSITIONS */
.menu,
.menu-push {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transiton: all .5s ease;
}

/* TOP NAV TOGGLER */
.toggle-input {
  display: none;
}

@media (max-width: 768px) {
  .menu-logo {
    font-size: 1.5em;
  }

  .menu-horizontal {
    height: 4em;
    line-height: 4em;
  }

  /* must be defined here so menu only shows on mobile*/
  #nav-toggle:checked ~ .menu-mobile {
    display: block;
  }
}
/* =================================
    PRICE TABLES
==================================== */
.price-table {
  padding-bottom: 1.5em;
  border-radius: 4px;
  font-weight: 100;
  margin: 2em 0;
  text-align: center;
}

.price-table h3 {
  font-weight: 100;
  margin: 0;
  padding: 1em 0;
}

.price {
  font-size: 4em;
}

.price-table ul {
  padding: 0;
  list-style-type: none;
  margin-top: 0;
}

.price-table li {
  display: block;
  padding: .25em 0;
}

.light-theme .price-table {
  border: 1px solid #dee1e5;
}

.light-theme .price-table h3 {
  border-bottom: 1px solid #dee1e5;
}

.dark-theme .price-table {
  border: 1px solid #fff;
}

.dark-theme .price-table h3 {
  border-bottom: 1px solid #fff;
}

/* =================================
    PLAYER
==================================== */
.player-btn-close {
  position: fixed;
  top: .5em;
  left: .5em;
  font-size: 2em;
  cursor: pointer;
  color: #fff;
}

.player-modal .modal-dialog {
  width: 853px;
  height: 480px;
  margin-top: 10%;
}

@media (max-width: 480px) {
  .player-modal iframe,
  .player-modal .modal-dialog {
    width: 100%;
    min-width: 320px;
    height: 240px;
  }
}
